@import url("https://fonts.googleapis.com/css2?family=Acme&family=Dongle&family=Righteous&display=swap");

*,
body {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 18px;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(97, 96, 96, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 2px;
}
.logo1 {
  background-color: black;
  padding: 5px;
  color: #fff;
}
.circle {
  border: 10px solid black;
}

.section {
  margin-top: 7rem;
  font-family: "Dongle", cursive;
  font-size: 1.5rem;
}

.card {
  margin: 2.5rem;
}

.card-img-top {
  border: rgb(255, 255, 255) 10px solid;
}

.icon {
  font-size: 2rem;
  padding: 0 0 0 1rem;
}
.btn:hover{
    box-shadow: 8px 8px 8px grey;
    color:white;
}
.end {
  background-color: black;
  color: #fff;
  height: auto;
  line-height: 50px;
  margin-top: 5rem;
}
.footer-link li {
  list-style: none;
  float: right;
}
.footer-link li a {
  color: #fff;
}
.footer-link li a:hover {
  color: #ef8172;
}
